@reference "../../../../styles.css";

.nav-item {
  @apply flex items-center justify-between p-4 rounded-2xl text-gray-600 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 font-semibold cursor-pointer;
}

.active-link {
  @apply bg-gradient-to-r from-blue-600 to-purple-600 text-white shadow-lg shadow-blue-200;
}

.active-link .w-10 {
  @apply bg-white/20;
}

.active-link svg {
  @apply text-white opacity-100;
}
